*.pyc
/.vs/
/results
/results/
/wandb
/wandb/
wandb

.DS_Store

.idea
/.idea/
/.idea
*/__pycache__

__pycache__
/__pycache__
/.vscode
.vscode

/.colpaliemb 
/.ragatouille
*.pdf
*.faiss
*.pkl

/tmp/tmp_dbs
/tmp/tmp_dbs/
/tmp/tmp_imgs
/tmp/tmp_imgs/
/tmp/tmp_embs
/tmp/tmp_embs/
/tmp/tmp_txts
/tmp/tmp_txts/
